* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

html {
  width: 100%;
  height: 100%;
  background-color: rgb(47, 50, 77);
  background-image: url(starss.png);
  background-size: cover;
}
.main {
    display: block;
    width: 100%;
    height: 100%;
}

.text-main {
    text-align: center;
    position: relative;
    top: 10%;
    color: #fff;
}

.main h1 {
    margin-top: 1rem;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Montserrat Black';
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
}

.main p {
    margin-top: 20px;
    font-size: 2.75rem;
    font-family: 'Montserrat';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000
}
.main button {
    margin-top: 50px;
    border: 6px solid #ffc107;
    box-sizing: border-box;
    border-radius: 150px;
    width: 400px;
    height: 60px;
    font-size: 26px;
    font-family: Montserrat;
    text-transform: uppercase;
    background-color: #2f324d;
    color: #fff;
}
.main button:hover {
    transition: 0.3s;
    color: #ffc107;
    border-radius: 0px
}


footer {
    background: rgb(22, 22, 22);
    color: rgb(184, 184, 184);
    padding-top: 10px;
    margin-top: 38px;
  }
  
  footer a {
    color: rgb(184, 184, 184);
  }
  
  footer a:hover {
    color: #fff;
  }
  
  footer h3 {
    color: #ffc107;
    letter-spacing: 1px;
    margin: 30px 0 20px;
  }
  
  footer .three-column {
    overflow: hidden;
    padding-left: 25px;
  }
  
  footer .three-column li{
    width: 33.3333%;
    float: left;
    padding: 5px 0;
  }
  
  footer .socila-list {
    overflow: hidden;
    margin: 20px 0 10px;
  }
  
  footer .socila-list li {
    float: left;
    margin-right: 3px;
    opacity: 0.7;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  footer .socila-list li:hover {
    opacity: 1;
  }
  
  footer .img-thumbnail {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
  }
  
  footer .copyright {
    padding: 15px 15px;
    background: rgb(47, 50, 77);
    margin-top: 20px;
    font-size: 15px;
  }
  
 